crewai
crewai-tools
langchain
langchain-openai
langchain-community
langchain_ibm
langchain_chroma
ibm-watsonx-ai
ibm-watson-machine-learning
unstructured
databricks-sdk
requests
pandas
pydantic
openai
fastapi
uvicorn
python-multipart
python-dotenv
pyyaml
